#main-container {
  overflow: auto;
  width: 65rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

#header-title {
  font-size: inherit;
  font-weight: 500;
}

#settings-icon {
  cursor: pointer;
  height: 80%;
  border-radius: 50%;
  transition: opacity .15s;
}

#settings-icon:hover {
  opacity: 0.5;
}

/* game display window */
#game-display {
  display: grid;

}

.minesweeper-button {
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 0;
  background-color: rgb(133, 136, 180);
  border: .5px solid rgb(95, 107, 129);
}

.minesweeper-button:hover {
  background-color: rgb(113, 117, 155);
}

/* settings page */
#settings-greyout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .7);
}

#settings-menu-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  background-color: rgba(175, 176, 182, 0);
  width: 40vw;
  min-width: 20rem;
  height: 50vh;
  min-height: 20rem;
  border-radius: 1rem;
}

#action-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: inherit;
}

.action {
  width: 100%;
}

.settings-button {
  font-size: 1.4rem;
  border: none;
  background-color: rgb(178, 187, 226);
  border-radius: inherit;
  cursor: pointer;
  transition: opacity .2s;
}

.settings-button:hover {
  opacity: .9;
}

.settings-active-button {
  background-color: rgb(121, 132, 168);
}