:root {
  --unrevealed-bg-color: rgb(130, 133, 165);
  --revealed-bg-color: rgb(148, 148, 160);
  --body-bg-color: rgb(95, 107, 129);
}

#main-container {
  overflow: auto;
  width: 65rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

#header-title {
  font-size: inherit;
  font-weight: 500;
}

#settings-icon {
  cursor: pointer;
  height: 80%;
  border-radius: 50%;
  transition: opacity .5;
}

#settings-icon:hover {
  opacity: 0.5;
}

/* game display window */
#game-display {
  display: grid;

}

.minesweeper-button {
  aspect-ratio: 1/1;
  border-radius: 0;
}

.unrevealed {
  cursor: pointer;
  background-color: var(--unrevealed-bg-color);
  border: .5px solid var(--body-bg-color);
}

.unrevealed:hover {
  opacity: .5;
}

.revealed-clear {
  border: .5px solid var(--revealed-bg-color);
  background-color: var(--revealed-bg-color);
}

.m-button-icon {
  width: 100%;
  height: 90%;
  object-fit: contain;
  pointer-events: none;
}

/* settings page */
#settings-greyout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .5);
}

#settings-menu-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  min-width: 20rem;
  max-width: 40rem;
  height: 50vh;
  min-height: 15rem;
  max-height: 30rem;
  border-radius: 1rem;
}

#action-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: inherit;
}

.action {
  width: 100%;
}

.settings-button {
  font-size: 1.4rem;
  border: none;
  background-color: rgb(102, 111, 151);
  color: rgb(192, 192, 211);
  border-radius: inherit;
  cursor: pointer;
  transition: opacity .2s;
}

.settings-button:hover {
  opacity: .9;
}

.settings-active-button {
  background-color: rgb(86, 97, 134);
}