#main-container {
  overflow: auto;
  width: 80rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

#header-title {
  font-size: inherit;
  font-weight: 500;
}

#settings-icon {
  cursor: pointer;
  height: 80%;
}

/* game display window */
#game-display {
  display: grid;

}

.minesweeper-button {
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 0;
  background-color: rgb(179, 179, 179);
  border: .1px solid rgb(95, 107, 129);
}

.minesweeper-button:hover {
  background-color: gray;
}

/* game configuration buttons */
#config-buttons {
  /* border: 1px solid green; */
  height: 2.2rem;
}